<style>
    .center {
        top: 50%;
        left: 50%;
        width: 450px;
        height: 450px;
        position: absolute;
        margin-top: -225px;
        margin-left: -225px;
    }
</style>

<div class="card text-center center">
    <div class="card-header">
        Total score
    </div>
    <div class="card-body">
        <h4 class="card-title">User name : {{score.username}}</h4>
        <p class="card-text" ng-repeat="(key, value) in score" ng-if="!$first">{{key}} : {{value}}</p>

        <a href="#/" class="btn btn-secondary">Try agin</a>
    </div>
    <div class="card-footer text-muted">
        Thank you!
    </div>
</div>